.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fcd116;
  border-radius: 1vw;
  border: 2px solid black;
  font-family: 'IBM Plex Mono';
  font-weight: 600;
  font-size: 1.25em;
  letter-spacing: 0.1em;
  padding: 2vw;
  padding-top: 0;
}

.profileCard > p{
  font-size: .65em;
}

.profileCard > img {
  height: 25vw;
  margin-top: 5vh;
}

.profileCard > h1 {
  color: #ff5c8a;
  font-size: 2em;
  margin-bottom: 0;
}

.profileCard > h2 {
  font-size: .85em;
  margin-bottom: 0;
}

.editPass {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.editPass >* {
  margin: 2px;  
}
