.userInfo {
  display:flex;
  flex-direction: row;
}

.userInfo > h3 {
  margin-right: 2.5vw;
}

.accountIcon {
  height: 4.4vw;
}

.accountIcon:hover {
  color: #111; 
  background-color: #FF5C8A ; 
  box-shadow: 0 0 50px #FF5C8A ;
  border-radius: 2em; 
}

a:link,
a:visited {
  text-decoration: none;
  color: #A51FFF;
}

a:hover {
  color:#3BC06F
}

h3 {
  font-size: .85em;
  font-weight: 600;
  margin: 0;
  color:#333;
}
